# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tapc
tapas

# Doxygen output
# /docs/html*

# Qmake files
*.pro.user
*.qmake.stash
*.gcda
*.gcno
*/Makefile

# Visual Studio
.vs/*
out/*
x64/*
x86/*
*.vcxproj.user

# Mac auto generated
.DS_Store

# KDevelop
.kdev4/*
*.kdev4
tapas/*

# xcode
tapas.xcodeproj/*

# vscode
.vscode/*
